@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap");
:root {
  --text-font-family: "Roboto", sans-serif;
  --logo-font-family: "Raleway", sans-serif;
  --link-active-color: #2196f3;
  --logo-header-color-span: #2196f3;
  --header-background-color: #ffffff;
  --header-contact-link-color: #757575;
  --strengths-section-text-color: #757575;
  --text-color: #212121;
  --logo-header-color: #000000;
  --hero-background-color: #2f303a;
  --button-main-background-color: #2196f3;
  --button-main-text-color: #ffffff;
  --employee-text-color: #757575;
  --footer-text-color: #ffffff;
  --background-logo-footer: #2f303a;
  --background-footer-contact-link: #2f303a;
  --background-global-footer: #2f303a;
  --portfolio-nd-text-color: #757575;
  --h1-text-color: #ffffff;
  --transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) background-color 250ms
    cubic-bezier(0.4, 0, 0.2, 1) box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
.container {
  width: 1200px;
  margin: 0 auto; /* Centrarea orizontală a containerului */
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
  width: auto;
  margin: 0 auto;
}
body {
  font-family: var(--text-font-family);
}
h1,
h2,
h3 {
  font-weight: 700;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
h1 {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--h1-text-color);
  width: 696px;
}
h2 {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}
h3 {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  padding-bottom: 10px;
}
ul {
  list-style-type: none;
}

/* Header */

.section-header {
  width: auto;
  margin: 0 auto;
  border-bottom: 1px solid #ececec;
}
.header {
  display: flex;
  align-items: center; /* Aliniază vertical elementele pe axa Y */
  justify-content: space-between; /* Distribuie spațiul între elemente */
  margin: 0, auto;
  padding-top: 25px;
  padding-bottom: 25px;
}
.header-nav__list {
  display: flex;
  justify-content: space-evenly;
}
.header-nav__list-item {
  margin-right: 50px; /* Adăugăm spațiu de 50px între elementele listei */
}
.header__logo {
  font-family: var(--logo-font-family);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--logo-header-color);
  text-decoration: none;
}
.header__logo--color {
  color: var(--logo-header-color-span);
}
.header-nav__list-link {
  background: var(--header-background-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-color);
  text-decoration: none;
}
.header__link-contact {
  margin-right: 10px;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
  color: var(--header-contact-link-color);
  text-decoration: none;
}
.header__contact-link {
  display: flex;
  align-items: center;
}
.header__contact-container {
  display: flex;
}
.header__contact-icon {
  width: 16px;
  height: 16px;
  fill: #757575;
  cursor: pointer;
  margin-right: 10px;
  margin-left: 40px;
}
.header-nav__list-link--active {
  color: var(--link-active-color);
  fill: var(--link-active-color);
}
a.header-nav__list-link--active {
  position: relative;
}
a.header-nav__list-link--active::after {
  display: block;
  position: absolute;
  content: "";
  background: var(--link-active-color);
  border-radius: 2px;
  width: 100%;
  height: 3px;
  bottom: -33px;
  left: 0;
}
.header-nav__list-link:hover,
.header-nav__list-link:focus {
  color: var(--link-active-color);
  transition: var(--transition);
}
.header__contact-container:hover .header__contact-icon,
.header__contact-container:hover .header__link-contact,
.header__contact-container:focus .header__contact-icon,
.header__contact-container:focus .header__link-contact {
  color: var(--link-active-color);
  fill: var(--link-active-color);
  transition: var(--transition);
}

/*Hero-section*/

.section-bg {
  width: auto;
  padding: 0;
  margin: 0 auto;
  background-color: var(--hero-background-color);
}
.section__hero {
  margin: 0 auto;
  padding: 200px 0;
  width: 1600px;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%),
    url(../images/bg-hero\ section.jpg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}
.container__hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.section__hero-button {
  background: var(--button-main-background-color);
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--button-main-text-color);
  cursor: pointer;
  margin-top: 40px;
  width: 200px;
  height: 50px;
  flex-shrink: 0;
}
.section__hero-button:hover,
.section__hero-button:focus {
  color: #d2c7c7;
  background-color: #0c5087;
  transition: var(--transition);
  transform: scale(1.1);
}

/* Our strengths section */

.section__card-set {
  display: grid; /* Utilizează grid layout pentru a distribui elementele în coloane */
  grid-template-columns: repeat(4, 1fr); /* Creează patru coloane egale */
  gap: 30px;
  padding: 0;
  list-style: none;
}
.section__card-set-icon {
  background-color: #f5f4fa;
  margin-bottom: 30px;
  padding: 25px 0;
  border-radius: 4px;
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
}
.section__main-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  width: auto;
}
.section__card-set-icon svg {
  width: 70px;
  height: 70px;
}

/* What we do section */

.wwdo__card-set {
  display: flex; /* Utilizăm flexbox pentru a aranja imaginile în linie */
  padding: 0; /* Eliminăm spațiul de la începutul listei */
  padding-top: 50px;
}
.wwdo__card-item {
  flex: 1; /* Distribuim spațiul disponibil în mod egal între imaginile din listă */
  margin-right: 45px; /* Adăugăm un spațiu mic între imagini */
  position: relative; /* Faceți containerul "poziționat" pentru a permite plasarea elementelor copil absolut */
}
.wwdo__card-item:last-child {
  margin-right: 0; /* Nu adăugăm spațiu la ultima imagine */
}
.wwdo__card-img {
  width: 100%; /* Asigurăm că imaginile nu depășesc lățimea containerului */
  height: auto;
}
.wwdo__card-item .wwdo__card-label {
  position: absolute; /* Faceți eticheta "poziționată" absolut în interiorul containerului */
  bottom: 0; /* Plasați eticheta în partea de jos a containerului */
  left: 0; /* Plasați eticheta în partea stângă a containerului */
  background-color: #2f303acc;
  padding: 25px 20px; /* Spațiere între text și marginea etichetei */
  margin: 0; /* Eliminați marginile implicite */
  width: 100%;
  height: 24%;
}
.wwdo__card-label {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

/* Our team section */

.section__team {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--text-color);
  background-color: #f5f4fa;
  margin: 0 auto;
  width: auto;
}
.team__card-set {
  display: flex; /* Utilizăm flexbox pentru a aranja cardurile în linie */
  padding: 0; /* Eliminăm spațiul de la începutul listei */
  padding-top: 50px;
}
.team__card-item {
  flex: 1; /* Distribuim spațiul disponibil în mod egal între carduri */
  margin-right: 30px; /* Adăugăm un spațiu între carduri */
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  text-align: center;
}
.team__card-item:last-child {
  margin-right: 0; /* Nu adăugăm spațiu la ultimul card */
}
.team__card-img {
  max-width: 100%; /* Asigurăm că imaginile din interiorul cardurilor nu depășesc lățimea */
  height: auto;
  padding-bottom: 30px;
}
.section__team .team__card-position {
  display: block;
  margin-top: 10px;
}
.team__card-position {
  font-weight: 400;
  font-size: 16px;
  color: var(--employee-text-color);
  padding-bottom: 30px;
}
.team__social-links {
  display: flex;
  justify-content: space-evenly;
  margin-top: 16px;
  margin-bottom: 30px;
}
.team__icon {
  border-radius: 50%;
  width: 44px;
  height: 44px;
  fill: #afb1b8;
}
.team__icon:hover,
.team__icon:focus {
  color: var(--link-active-color);
  background-color: var(--link-active-color);
  transition: transform var(--transition);
  fill: var(--link-active-color);
}

/*Regular customers section*/

.customers-icon__set {
  display: grid; /* Utilizează grid layout pentru a distribui elementele în coloane */
  grid-template-columns: repeat(6, 1fr); /* Creează sase coloane egale */
  gap: 30px;
  padding: 0;
  background-color: #ffffff;
  margin-top: 50px;
}
.customers-icon__item {
  border: 1px solid #afb1b8;
  border-radius: 4px;
  padding: 16px 32px;
  width: 170px;
  height: 92px;
  cursor: pointer;
}
.customers-icon__svg {
  width: 106px;
  height: 60px;
  fill: #afb1b8;
}
.customers-icon__item:hover,
.customers-icon__item:focus {
  color: var(--link-active-color);
  border: 1px solid var(--link-active-color);
  transition: var(--transition);
}
.customers-icon__svg:hover,
.customers-icon__svg:focus {
  color: var(--link-active-color);
  fill: var(--link-active-color);
  transition: var(--transition);
}

/*Footer section*/

.footer-background-section {
  background: #2f303a;
  width: auto;
  margin: 0 auto;
}
.footer {
  display: flex;
  justify-content: space-between;
  padding: 60px 0;
}
.footer__logo {
  font-family: var(--logo-font-family);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--footer-text-color);
  text-decoration: none;
  background: #2f303a;
}
.footer__logo--color {
  color: var(--logo-header-color-span);
}
.address__str {
  color: var(--footer-text-color);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  margin-top: 28px;
}
.address__email-phone {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}
.address__email-phone:hover,
.address__email-phone:focus {
  color: var(--link-active-color);
  transition: var(--transition);
}
.footer__social {
  display: flex;
  gap: 10px;
}
.footer__social-icon {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: #2f303a;
}
.footer__social-icon:hover,
.footer__social-icon:focus {
  color: var(--link-active-color);
  fill: var(--link-active-color);
  transition: var(--transition);
}
.footer__social-svg {
  padding-top: 12px;
}
.footer__title {
  color: #fff;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}
.footer__subscribe-form {
  padding-top: 12px;
}
.footer__form-input {
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  width: 358px;
  height: 50px;
  background-color: var(--hero-background-color);
  padding-left: 10px;
  color: #ffffff;
}
.footer__btn-subscribe {
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 70px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: #ffffff;
  width: 200px;
  border: none;
  cursor: pointer;
  position: relative;
}
.footer__btn-subscribe img {
  position: absolute; /* Poziționare absolută față de buton */
  top: 50%; /* O poziționăm pe axa verticală la 50% */
  left: 70%; /* O poziționăm pe axa orizontală la 50% */
  transform: translate(-50%, -50%); /* Centrare pe mijlocul butonului */
  width: 24px; /* Lățimea imaginii */
  height: 24px; /* Înălțimea imaginii */
}
.footer__btn-subscribe:hover,
.footer__btn-subscribe:focus {
  color: #d2c7c7;
  background-color: #0c5087;
  transition: var(--transition);
  transform: scale(1.1);
}

/*Portfolio page*/

.portfolio__categories {
  display: flex;
  gap: 8px;
  justify-content: center;
  border-radius: 4px;
}
.portfolio-button {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
  cursor: pointer;
  border: none;
  border-radius: 4px;
  background: #f5f4fa;
  padding: 6px 22px;
}
.portfolio-button:hover,
.portfolio-button:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  color: #ffffff;
  background: var(--link-active-color);
  transition: var(--transition);
}
.portfolio-button--active {
  color: #ffffff;
  background-color: var(--link-active-color);
}
.portfolio__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 50px;
  padding: 0;
}
.portfolio__list li:hover,
.portfolio__list li:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  transition: var(--transition);
}
.portfolio__item {
  flex-basis: calc(33.33% - 30px);
  margin: 0;
  background-color: #ffffff;
  border: 1px solid #eeeeee;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--link-active-color);
  transform: translateY(100%);
  transition: transform 250ms ease-in-out;
}
.portfolio__item:hover .overlay {
  transform: translatey(0);
}
.portfolio__text {
  color: #ffffff;
  padding: 120px 45px;
  margin: auto;
  font-size: 18px;
}
.portfolio__pic {
  width: 100vw;
  height: auto;
}
.portfolio__item span {
  display: block;
  margin: 20px 24px;
}
.portfolio__pic-first-text {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--text-color);
}
.portfolio__pic-second-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--portfolio-nd-text-color);
}

/*Modal*/

.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #0000001a;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-content {
  padding: 0 40px;
  background: #ffffff;
  margin: 0 auto;
  width: 35vw;
  height: 80vh;
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
}
.is-hidden {
  visibility: hidden; /* Face elementul invizibil, dar îl păstrează în fluxul documentului */
  opacity: 0; /* Face elementul complet transparent */
  pointer-events: none; /* Dezactivează evenimentele de la element, astfel încât acesta să nu fie interactiv */
  transform: scale(1.1);
}
.modal__close-btn {
  outline: none;
  cursor: pointer;
  color: #000000;
  position: absolute;
  right: 8px;
  top: 8px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}
.modal__close-btn:hover,
.modal__close-btn:focus {
  color: var(--link-active-color);
  background: #d1cece;
  transition: transform var(--transition);
}

/* Formular */

.modal__text {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.03em;
  color: #212121;
  padding-top: 40px;
}
.form__label {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
  text-align: left;
}
.form__input-icon {
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 5px;
}
.form__input {
  padding: 12px 25px;
  border: 1px solid rgba(33, 33, 33, 0.329);
  border-radius: 4px;
  width: 100%;
  margin-bottom: 10px;
}
.form__input:focus {
  border: 1px solid #007bff;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__input:focus + .form-icons {
  fill: #007bff;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__input-person,
.form__input-phone,
.form__input-email {
  position: relative;
}
.form__icon-person {
  width: 18px;
  height: 18px;
  position: absolute;
  left: 8px;
  top: 12px;
}
.form__icon-phone {
  width: 18px;
  height: 18px;
  position: absolute;
  left: 45px;
  top: 178px;
}
.form__icon-email {
  width: 18px;
  height: 18px;
  position: absolute;
  left: 45px;
  top: 256px;
}
.form__textarea {
  width: 100%;
  resize: none;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

/* Stilizare pentru butonul de submit */
.modal__send-btn {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.06em;
  padding: 10px 20px;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
  border: none;
  cursor: pointer;
  width: 200px;
  margin-top: 30px;
  align-self: center;
  margin-left: 30%;
}
.modal__send-btn:hover,
.modal__send-btn:focus {
  color: black;
  background: #4478e9;
  transition: transform var(--transition);
}
/* Stilizare pentru caseta de acord */
.agree-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  gap: 10px;
}
/* Stilizare pentru link-ul "Terms and Conditions" */
.agree-checkbox-link {
  margin-left: 5px;
  color: #007bff;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
