/*Footer section*/

.footer-background-section {
  background: #2f303a;
  width: auto;
  margin: 0 auto;
}
.container--mobile {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Asigură că containerul ocupă cel puțin întreaga înălțime a ecranului */
}
.footer {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  padding: 60px 0;
  &__logo {
    font-family: var(--logo-font-family);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--footer-text-color);
    text-decoration: none;
    background: #2f303a;
    &--color {
      color: var(--logo-header-color-span);
    }
  }
  &__social {
    display: flex;
    justify-content: center;
    gap: 10px;
    &-icon {
      width: 44px;
      height: 44px;
      border-radius: 50%;
      background: #2f303a;
      &:hover,
      &:focus {
        color: var(--link-active-color);
        fill: var(--link-active-color);
        transition: var(--transition);
      }
    }
    &-svg {
      margin-top: 60px;
      padding-top: 12px;
    }
  }
  &__subscribe-form {
    margin-top: 60px;
  }
  &__title {
    color: #fff;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.42px;
    text-transform: uppercase;
  }
}
.address {
  &__str {
    color: var(--footer-text-color);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    margin-top: 28px;
  }
  &__email-phone {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    &:hover,
    &:focus {
      color: var(--link-active-color);
      transition: var(--transition);
    }
  }
}

@media screen and (min-width: $mobile-breakpoint) {
  .footer {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    &__social-svg {
      margin-top: 0;
    }
    &__subscribe-form {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}

@media screen and (min-width: $tablet-breakpoint) {
  .container--mobile {
    display: inline;
  }
  .footer {
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: baseline;
    &__subscribe-form {
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
    }
  }
  .address {
    text-align: left;
    margin-left: 30px;
  }
}
