/* What we do section */

.section__wwdo {
  display: none;
}

@media screen and (min-width: $tablet-breakpoint) {
  .section__wwdo {
    display: block;
  }
  .wwdo {
    &__card-set {
      display: flex;
      padding: 0; /* Eliminăm spațiul de la începutul listei */
      padding-top: 50px;
    }
    &__card-item {
      flex: 1; /* Distribuim spațiul disponibil în mod egal între imaginile din listă */
      margin-right: 45px; /* Adăugăm un spațiu mic între imagini */
      position: relative;
      &:last-child {
        margin-right: 0; /* Nu adăugăm spațiu la ultima imagine */
      }
      & .wwdo__card-label {
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: #2f303acc;
        padding: 25px 20px; /* Spațiere între text și marginea etichetei */
        margin: 0; /* Eliminați marginile implicite */
        width: 100%;
        height: 24%;
      }
    }
    &__card-label {
      font-family: "Roboto";
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      line-height: 16px;
      text-align: center;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      color: #ffffff;
    }
    &__card-img {
      width: 100%; /* Asigurăm că imaginile nu depășesc lățimea containerului */
      height: auto;
    }
  }
}
